html {
    background-color: white;
}

.carousel-inner {
    background-color: rgb(34, 34, 34);
}

div.carousel-item>img{
    max-height: 1000px;
    max-width: 100%;
    object-fit: scale-down;
    margin: auto;
}