$bg1: #eeeeee;
$bg2: #222222;
$fonts: "Comic-Sans";

html {
    background-color: $bg1;
}

body {
    background-color: $bg1;
    font: $fonts;
}

.carousel-inner {
    background-color: $bg2;
}

div.carousel-item>img{
    max-height: 1000px;
    max-width: 100%;
    object-fit: scale-down;
    margin: auto;
}

